*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    scroll-behavior: smooth;
}

body
{
    color: #ededed;
    background: #081b29;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #051129;
}

.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover
{
    color: #0ef;

}

.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./cover.png) no-repeat;
    block-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content
{
    min-width: 600dp;
}

.home-content h3
{
    font-size: 32px;
    font-weight: 700;
}

.home-content h1
{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p{
    font-size: 20px;
}

.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover
{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover
{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    cursor: pointer;
}


/*about me */
/* .about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
} */

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    }
    
    .about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    }
    
    .about-text h2{
    font-size: 60px;
    }
    
    .about-text h2 span{
    color:#0ef;
    }
    
    .about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    }
    
    .about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    }
    
    /* ####### */

    /* SERVICES */
    #services{
      color: aliceblue; 
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 4rem;
      padding-top: 20px;
      }
      
      
    .sub-title {
        width: 100%;
        justify-content: center;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    }
    
    
    .sub-title span{
      color:#0ef
    }
    
    
    .container{
      padding: 60px;
    }
    
    
    .services-list{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
    }
    
    
    .services-list div{
      border-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #012290F7, 
    1px 1px 40px #0053B8F7
    }
    
    
    .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    }
    
    .services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    }

    .services-list div p{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        }
    
    .services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    }
    
    
    .read{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    }
    
    
    .read:hover{
        box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
    }
    
    
    .services-list div:hover{
      transform: translateY(-3px);
    }



      /* SERVICES SECTION END */

      /* SKILLS */

    #skills{
        display: flex;
        padding-bottom: 50px;
    }

    .container1{
        width: 600px;
        height: 500px;
        padding: 75px 10px;
        margin-left: 120px;
    }

    .heading1{
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 5px;
        margin-bottom: 50px;
    }

    .bar{
        font-size: 23px;
    }

    .Technical-bars .bar{
        margin-top: 40px 0; 
    }

    .Technical-bars .bar:first-child{
        margin-top: 0;
    }

    .Technical-bars .bar:last-child{
        margin-bottom: 0;
    }

    .Technical-bars .bar .info{
        margin-bottom: 5px;
    }

    .Technical-bars .bar .info span{
        font-size: 17px;
        font-weight: 500;
    }

    .Technical-bars .bar .progress-line{
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 5px;
        background-color: #000000;
    }

    .Technical-bars .bar .progress-line span{
        position: absolute;
        border-radius: 10px;
        height: 100%;
        background-color: #0ef;
    }

    .progress-line.html span{
        width: 90%;
    }

    .progress-line.css span{
        width: 60%;
    }

    .progress-line.javascript span{
        width: 85%;
    }

    .progress-line.python span{
        width: 50%;
    }

    .progress-line.react span{
        width: 75%;
    }

    .progress-line span::after{
        position: absolute;
        padding: 1px 8px;
        background-color: #000;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
        top: -28px;
        right: -20px;
    }

    .progress-line.html span::after{
        content: 90%;
    }

    .progress-line.css span::after{
        content: 60%;
    }

    .progress-line.javascript span::after{
        content: 85%;
    }

    .progress-line.python span::after{
        content: 90%;
    }

    .progress-line.react span::after{
        content: 90%;
    }


    .progress-line span::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: #000;
        top: -10px;
        right: 0;
    }


    /* PROJECTS */
    #projects{
        padding-top: 20px;
    }


    .main-text{
        padding-top: 20px;
        margin-top: 80px;
    }

    .main-text h2{
        font-size: 60px;
        line-height: 1;
        text-align: center;
    }

    .main-text h2 span{
        color: #0ef;
    }

    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    }

    .row{
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer;
    }

    .row img{
        width: 100%;
        border-radius: 8px;
        display: block;
        transition: transform 0.5s;
    }

    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.1),#0ef);
        position: absolute;
        border-radius: 8px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 40px;
        transition: height 0.5s;
    }

    .layer h5{
        color: #000;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .layer p{
        color: #000;
        font-size: 1rem;
        line-height: 1.8;
    }

    .layer i{
        color: #ff004f;
        margin-top: 20px;
        font-size: 20px;
        background: #fff;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .row:hover img{
        transform: scale(1.1);
    }

    .row:hover .layer{
        height: 100%;
    }



    /* CONTACT  */
    .contact{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 3rem;
        padding-left: 30px;
        margin-top: 130px;
    }

    .contact-text h2{
        font-size: 90px;
        line-height: 1;
        text-align: center;
    }

    .contact-text h2 span{
        color: #0ef;
    }

    .contact-text h4{
        font-size: 20px;
        margin: 15px 0;
        color: rgb(228, 228, 228);
        font-weight: 600;
    }

    .contact-text p{
        font-size: 20px;
        margin-bottom: 2rem;
        color: rgb(177, 177, 177);
        line-height: 30px;
    }

    .contact-list{
        margin-bottom: 3rem;
    }

    .contact-list li{
        margin-bottom: 10px;
        font-size: 30px;
        display: block;
    }

    .contact-list i{
        display: inline-block;
        color: #0ef;
        font-size: 30px;
        font-weight: 600;
        transition: all .40s ease;
    }

    .contact-list li a:hover{
        transform: scale(1.01) translateY(-5px);
        color: #0ef;
    }

    .contact-icons i{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #0ef;
        border-radius: 50%;
        font-size: 20px;
        color: #0ef;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: .5s ease;
    }

    .contact-icons i:hover{
        background: #0ef;
        color: #000;
        box-shadow: 0 0 20px #0ef;
    }

    .contact-form form{
        position: relative;
    }

    .contact-form form input, form textarea{
        border: none;
        outline: none;
        width: 90%;
        padding: 18px;
        background: #555557;
        color: #000;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        border: 2px solid darkgray;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
    }

    .contact-form textarea{
        resize: none;
        height: 220px;
    }

    ::placeholder{
        color: lightgray;
    }

    .contact-form form .send{
        display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border-width: 0px;
    transition: background-color 0.2s ease;
    }

    .contact-form form .send:hover{
        /* box-shadow: 0 0 1px cyan,
        0 0 2px cyan, 0 0 5px cyan,
        0 0 10px cyan, 0 0 15px cyan; */
        /* background-color: #07c; */
        cursor: pointer;
        background: linear-gradient(to right, #005bea, #00c6fb);
    }




    


